{{- $flags := index . "flags" | default dict -}}
{{- $isGuiAllowed := index $flags "is_gui_allowed" | default (eq .chezmoi.os "darwin") -}}
{{ if and (eq .chezmoi.os "darwin") $isGuiAllowed (eq .defaults.password_manager "1password") }}
{{ .chezmoi.homeDir }}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{ end }}
