;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

(setq user-full-name "{{ .name }}"
      user-mail-address "{{ .email }}")

(setq doom-font (font-spec :family "JetBrainsMono Nerd Font" :size 12)
      doom-variable-pitch-font (font-spec :family "Avenir Next" :size 13))
;;
(setq doom-theme 'doom-one)
(setq initial-frame-alist '((width . 100) (height . 55) (fullscreen . maximized)))
(setq default-frame-alist '((width . 100) (height . 55) (fullscreen . maximized)))

(setq which-key-idle-delay 0.15)

(setq display-line-numbers-type t)

(after! org
    (setq org-priority-highest ?A)
  (setq org-priority-lowest ?D)
  (setq org-priority-default ?C)
  (setq org-default-notes-file (expand-file-name "todo.org" org-directory))
  (setq org-capture-templates
        '(("w" "Work task" entry (file+headline "~/Documents/org/work.org" "Tasks")
           "* TODO %?")
          ("t" "Personal todo" entry (file+headline "~/Documents/org/todo.org" "Tasks")
           "* TODO %?"))))

(setq org-directory "~/Documents/org/"
      org-roam-directory org-directory
      org-roam-db-location (file-name-concat org-directory ".org-roam.db")
      org-roam-dailies-directory "journal/"
      org-archive-location (file-name-concat org-directory ".archive/%s::")
      org-agenda-files (list org-directory))

(map! :after org-roam
      :map org-mode-map
      :n "C-c n i" #'org-roam-node-insert
      :n "C-c n t" #'org-roam-tag-add)


(after! org-mode
    (add-hook 'org-capture-mode-hook (lambda () (corfu-mode -1)))
  (add-hook 'org-mode-hook (lambda () (corfu-mode -1))))
;; (add-hook 'markdown-mode-hook (lambda () (flyspell-mode -1)))
;; (add-hook 'org-mode-hook (lambda () (flyspell-mode -1)))

(add-hook 'org-clock-in-hook (lambda () (org-todo "STRT")))
