source ~/.config/fish/conf.d/env.fish
source ~/.config/fish/conf.d/paths.fish
source ~/.config/fish/conf.d/mise.fish
source ~/.config/fish/conf.d/aliases.fish

{{ if eq .auth_manager "1password" -}}
set -Ux SSH_AUTH_SOCK ~/.local/state/1password/agent.sock
{{- end }}

set -g fish_greeting
