{{- $theme := (index . "theme") | default dict -}}
{{- $zellijTheme := (index $theme "zellij") | default "tokyo-night-storm" -}}
{{- $zellijPluginDir := printf "file:%s/.config/zellij/plugins" .chezmoi.homeDir -}}

plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }

    // Vendored plugins (managed in ~/.config/zellij/plugins via chezmoi)
    zj-forgot location="{{ $zellijPluginDir }}/zellij_forgot.wasm"
    zj-quit location="{{ $zellijPluginDir }}/zj-quit.wasm" {
        cancel_key "Esc"
        confirm_key "y"
    }
    zjstatus location="{{ $zellijPluginDir }}/zjstatus.wasm"
    zjstatus-hints location="{{ $zellijPluginDir }}/zjstatus-hints.wasm" {
        overflow_str "..."
        pipe_name "zjstatus_hints"
        hide_in_base_mode false
    }
}

load_plugins {
    zjstatus-hints
}

keybinds clear-defaults=true {
    locked {
        bind "Alt /" {
            LaunchOrFocusPlugin "zj-forgot" {
                floating true
                move_to_focused_tab true
            }
        }
        bind "Alt q" { Quit; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt w" { ToggleFloatingPanes; }
        bind "Alt e" { TogglePaneEmbedOrFloating; }
        bind "Alt i" { TogglePanePinned; }

        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt Down" { MoveFocus "Down"; }
        bind "Alt Up" { MoveFocus "Up"; }

        bind "Alt n" { NewPane; }
        bind "Alt Shift n" { NewPane "stacked"; }
        bind "Alt v" { NewPane "Right"; }
        bind "Alt b" { NewPane "Down"; }
        bind "Alt x" { CloseFocus; }

        bind "Alt ," { GoToPreviousTab; }
        bind "Alt ." { GoToNextTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt p" { SwitchToMode "Pane"; }
        bind "Alt t" { SwitchToMode "Tab"; }
        bind "Alt r" { SwitchToMode "Resize"; }
        bind "Alt s" { SwitchToMode "Scroll"; }
        bind "Alt o" { SwitchToMode "Session"; }
    }

    pane {
        bind "Alt p" { SwitchToMode "Locked"; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "n" { NewPane; }
        bind "s" { NewPane "stacked"; }
        bind "v" { NewPane "Right"; }
        bind "b" { NewPane "Down"; }
        bind "x" { CloseFocus; }
        bind "f" { ToggleFocusFullscreen; }
        bind "w" { ToggleFloatingPanes; }
        bind "e" { TogglePaneEmbedOrFloating; }
        bind "i" { TogglePanePinned; }
    }

    tab {
        bind "Alt t" { SwitchToMode "Locked"; }
        bind "h" "Left" "," { GoToPreviousTab; }
        bind "l" "Right" "." { GoToNextTab; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "n" { NewTab; }
        bind "x" { CloseTab; }
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
    }

    resize {
        bind "Alt r" { SwitchToMode "Locked"; }
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }

    scroll {
        bind "Alt s" { SwitchToMode "Locked"; }
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "l" "Right" "PageDown" { PageScrollDown; }
        bind "h" "Left" "PageUp" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }

    session {
        bind "Alt o" { SwitchToMode "Locked"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
        bind "a" {
            LaunchOrFocusPlugin "zellij:about" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
    }

    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
        bind "Enter" { SwitchToMode "Locked"; }
        bind "Ctrl c" { SwitchToMode "Locked"; }
    }

    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
        bind "Enter" { SwitchToMode "Locked"; }
        bind "Ctrl c" { SwitchToMode "Locked"; }
    }

    shared_except "locked" {
        bind "Esc" { SwitchToMode "Locked"; }
        bind "Enter" { SwitchToMode "Locked"; }
    }

}

{{ if eq .defaults.shell "fish" -}}
default_shell "fish"
{{- end }}
default_mode "locked"
scroll_buffer_size 100000
on_force_close "detach"
copy_on_select true
pane_frames true

// Keep Zellij's UI clean
ui {
    pane_frames {
        hide_session_name true
        rounded_corners false
    }
}
