# ------------------------------------------------------------------------------
# 0. XDG base directory specification
# ------------------------------------------------------------------------------

export XDG_CONFIG_HOME="{{ .xdg.configHome }}"
export XDG_CACHE_HOME="{{ .xdg.cacheHome }}"
export XDG_DATA_HOME="{{ .xdg.dataHome }}"
export XDG_STATE_HOME="{{ .xdg.stateHome }}"
export XDG_BIN_HOME="{{ .xdg.binHome }}"

# Application-specific XDG enforcement
export DOTFILES_DIR="{{ .xdg.dataHome }}/chezmoi"

# ------------------------------------------------------------------------------
# 1. ZDOTDIR
# ------------------------------------------------------------------------------

export ZDOTDIR="{{ .xdg.configHome }}/zsh"

# ------------------------------------------------------------------------------
# 2. Path configuration
# ------------------------------------------------------------------------------

# Ensure path array is unique (removes duplicates automatically)
typeset -U path PATH

# Prepend user binaries to the path
path=(
  "{{ .xdg.binHome }}"
  "$DOTFILES_DIR/bin"
  "$path[@]"
)

export PATH

# ------------------------------------------------------------------------------
# 3. Homebrew
# ------------------------------------------------------------------------------

if [ -x "/opt/homebrew/bin/brew" ]; then
  eval "$({{ .homebrew.prefix }}/bin/brew shellenv)"
fi

# ------------------------------------------------------------------------------
# 4. Default programs
# ------------------------------------------------------------------------------

export EDITOR="vim"
export VISUAL="$EDITOR"
export PAGER="less"

# ------------------------------------------------------------------------------
# 5. Application XDG enforcement
# ------------------------------------------------------------------------------

# Keep the home directory clean by forcing apps to use XDG dirs
export GNUPGHOME="{{ .xdg.configHome }}/gnupg"
export LESSHISTFILE="{{ .xdg.stateHome }}/less/history"
export WGETRC="{{ .xdg.configHome }}/wget/wgetrc"
export TEALDEER_CONFIG_DIR="{{ .xdg.configHome }}/tealdeer"

# ------------------------------------------------------------------------------
# 6. Plugins and cache management
# ------------------------------------------------------------------------------
# It is best to set these here so they are ready before .zshrc loads
export ZIM_HOME="$ZDOTDIR/.zim"
export ZIM_CONFIG_FILE="$ZDOTDIR/.zimrc"

# Zsh caching
export ZSH_CACHE_DIR="{{ .xdg.cacheHome }}/zsh"
export ZSH_COMPDUMP="$ZSH_CACHE_DIR/zcompdump"
