{{ if and (eq .chezmoi.os "darwin") (eq .profile "work") -}}
{{   includeTemplate "../install/macos/work/install-homebrew.sh.tmpl" . }}
{{ else if eq .chezmoi.os "darwin" -}}
{{   includeTemplate "../install/macos/home/install-homebrew.sh.tmpl" . }}
{{- end }}
