{{- $deployment := index . "deployment" | default "desktop" -}}
{{- $flags := index . "flags" | default dict -}}
{{- $isGuiAllowed := index $flags "is_gui_allowed" | default (eq $deployment "desktop") -}}
{{ if and (eq .chezmoi.os "darwin") (eq $deployment "desktop") $isGuiAllowed -}}
{{   include "../install/macos/home/defaults.sh" }}
{{- end }}
