[tools]
{{ if has "go" .toolchains -}}
go = "1.23"
{{- end }}
{{ if has "node" .toolchains -}}
node = "22"
{{- end }}
{{ if has "python" .toolchains -}}
python = "3.12"
{{- end }}
{{ if has "rust" .toolchains -}}
rust = "1.84"
{{ end }}
