abbr -a -g cz chezmoi
abbr -a -g czc chezmoi cat-config
abbr -a -g dp chezmoi apply -v --no-pager

abbr -a -g b brew
abbr -a -g bi brew install
abbr -a -g bu brew uninstall
abbr -a -g br brew reinstall
abbr -a -g bs brew search
abbr -a -g bz brew uninstall --zap
abbr -a -g ci brew install --cask

abbr -a -g cdd cd ~/.local/share/chezmoi

abbr -a -g g git
abbr -a -g gg lazygit

abbr -a -g e "$EDITOR"

alias la 'eza -a --no-quotes'
alias ll 'eza -la --group-directories-first --no-quotes'

