[user]
  name = {{ .name }}
  email = {{ .email }}
{{- if eq .profile "home" }}
  signingkey = {{ .signing_key }}
{{- end }}

[color]
  ui = auto

[commit]
  gpgsign = true

{{ if eq .profile "work" -}}
[include]
  file = ~/.config/git/config-work

[includeIf "gitdir:~/git/personal/"]
  path = ~/.config/git/config-personal
{{- else -}}
[include]
  file = ~/.config/git/config-personal
{{- end }}