[user]
  name = {{ .name }}
  email = {{ .email }}

[color]
  ui = auto

[commit]
  gpgsign = true

[include]
  path = ~/.config/git/config-personal

{{- if eq .profile "work" }}
[includeIf "gitdir:~/git/work/"]
  path = ~/.config/git/config-work
{{- end }}