{{- $flags := index . "flags" | default dict -}}
{{- $isGuiAllowed := index $flags "is_gui_allowed" | default (eq .chezmoi.os "darwin") -}}
{{- $usesSecretive := and $isGuiAllowed (eq .chezmoi.os "darwin") (eq .defaults.password_manager "secretive") -}}
{{- $uses1Password := and $isGuiAllowed (eq .chezmoi.os "darwin") (eq .defaults.password_manager "1password") -}}
[user]
{{- if $usesSecretive }}
  signingkey = key::{{ .signing_key }}
{{- else }}
  signingkey = {{ .signing_key }}
{{- end }}

[gpg]
  format = ssh

{{- if $usesSecretive }}
[gpg "ssh"]
  program = "{{ .chezmoi.homeDir }}/.local/bin/git-ssh-sign-secretive"
{{- end }}

{{- if $uses1Password }}
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
